        .place__image {
            object-fit: cover;
            width: 100%;
            max-width: 460px;
        }
        
        @media screen and (max-width: 1140px) {
            .place__image {
                max-width: 440px;
            }
        }
        
        @media screen and (max-width: 986px) {
            .place__image {
                max-width: 340px;
            }
        }
        
        @media screen and (max-width: 586px) {
            .place__image {
                max-width: 320px;
                padding: 0 19px 0;
            }
        }
        
        @media screen and (max-width: 396px) {
            .place__image {
                padding: 0 16px 0;
            }
        }
        
        @media screen and (max-width: 338px) {
            .place__image {
                padding: 0;
            }
        }