.section-subtitle {
  max-width: 640px;
  align-self: center;
  text-align: center;
  font-family: 'inter', sans-serif;
  line-height: 36px;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  margin: 16px 0 64px;
}

@media screen and (max-width: 682px) {
  .section-subtitle {
    max-width: 320px;
    line-height: 20px;
    font-size: 16px;
    margin: 8px auto 40px;
  }
}
