.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 48px 0px;
    max-width: 1184px;
    min-height: 52px;
    padding: 0px;
    flex-wrap: wrap;
}

@media screen and (max-width: 986px) {
    .header {
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 586px) {
    .header {
        margin: 0 16px 0;
    }
}