.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 48px 0px;
    max-width: 1184px;
    min-height: 52px;
    padding: 0px;
    flex-wrap: wrap;
}

@media screen and (max-width: 394px) {
    .header {
        max-width: 288px;
        min-height: 42px;
        margin: 16px 16px 0;
    }
}