.place__paragraph {
  /* width: 484px; */
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  border: red solid 1px;
  margin: auto;
}
