.place__paragraph {
    max-width: 100%;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-left: 40px;
}

@media screen and (max-width: 1140px) {
    .place__paragraph {
        margin-left: 32px;
    }
}

@media screen and (max-width: 984px) {
    .place__paragraph {
        margin-left: 28px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 586px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 32px;
    }
}