.place__paragraph {
    margin-bottom: 26px;
    margin-top: 0;
    text-align: left;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 986px) {
    .place__paragraph {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 586px) {
    .place__paragraph {
        margin-bottom: 0px;
        padding: 0;
    }
}