.container {
  max-width: 984px;
  margin: 0 auto;
}
@media screen and (max-width: 1140px) {
  .container {
    max-width: 928px;
  }
}

@media screen and (max-width: 986px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 786px) {
  .container {
    max-width: 720px;
    margin: 0 24px 0;
  }
}
@media screen and (max-width: 536px) {
  .container {
    max-width: 388px;
    margin: 0 16px 0;
  }
}
@media screen and (max-width: 394px) {
  .container {
    max-width: 288px;
    margin: 0 16px 0;
  }
}
