.container {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 976px) {
    .container {
        margin-left: 24px;
    }
}

@media screen and (max-width: 396px) {
    .container {
        margin: 0 16px 0;
    }
}