.container {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .container {
        padding: 0 48px 0;
    }
}

@media screen and (max-width: 986px) {
    .container {
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 396px) {
    .container {
        padding: 0 16px 0;
    }
}