.place {
    list-style: none;
    padding: 0;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-row-gap: 80px;
    margin: 0 auto;
}