.place {
    list-style: none;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-row-gap: 80px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 986px) {
    .place {
        grid-row-gap: 73px;
    }
}

@media screen and (max-width: 586px) {
    .place {
        grid-row-gap: 50px;
    }
}